extends typescript

snippet solcom "solidjs component"
    const ${1}: Component<{${2}}> = p => {
        return ${3};
    }

snippet solcomp "solidjs component (Primary)"
    import type { Component } from 'solid-js';

    const ${1}: Component<{${2}}> = p => {
        return ${3};
    }

    export default ${1}

snippet stag "single line tag"
    <${1}${2}>${3}</${1}>

snippet mtag "multiline tag"
    <${1}${2}>
    </${1}>

snippet imreact "import React"
    import React from "react"

